<!-- wp:template-part {"slug":"header","theme":"clothing-store-blocks","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"clothing-store-blocks/banner"} /-->

<!-- wp:pattern {"slug":"clothing-store-blocks/million-of-hours"} /-->

<!-- wp:pattern {"slug":"clothing-store-blocks/latest-arrival"} /-->

<!-- wp:pattern {"slug":"clothing-store-blocks/offers"} /-->

<!-- wp:pattern {"slug":"clothing-store-blocks/recent-blog"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"clothing-store-blocks","tagName":"footer","className":"custom-footer-class"} /-->